{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Home{% endblock title %}
{% block description %}Página inicial do Curso{% endblock description %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					Curso Python Pro - Rumo a primeira vaga!
				</h2>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis doloremque, vel aliquam nam inventore vitae quia dolor perferendis modi delectus ut eum autem nisi recusandae porro officia error amet? Magni.
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<h5 class="card-header">
					Mais detalhes sobre o Curso.
				</h5>
				<div class="card-body">
					<p class="card-text">
						<img src="{% static 'img/logo_py.png' %} " class="img-thumbnail float-left mr-3" alt="Logo Python"/>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore eius adipisci maxime a perferendis tenetur est dolore veniam, officia, sapiente voluptates, aspernatur nam assumenda sed modi? Vitae dolores ea qui. Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, commodi. Quisquam, accusantium. Accusamus, ipsa? Quo ut architecto soluta atque minima tempore autem, fugiat harum consequatur facilis commodi, voluptas consectetur unde? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore omnis ipsum similique eos? Voluptate cum, porro consequuntur harum quibusdam incidunt vero unde tempore numquam dolores dicta rerum cupiditate vel asperiores.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock body %}